<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.freetrip_banked.mapper.BlogMapper">

    <delete id="deleteByUserKey" parameterType="String">
        delete
        from blogs
        where user_id = #{user_id};
    </delete>

    <select id="findByUserId" parameterType="String" resultType="com.example.freetrip_banked.bean.BlogBean">
        select *
        from blogs
        where user_id = #{user_id};
    </select>

    <select id="selectBlogById" parameterType="String" resultType="com.example.freetrip_banked.bean.BlogBean">
        SELECT *
        FROM blogs
        WHERE user_id = #{user_id};
    </select>

    <delete id="deleteBlog" parameterType="String">
        DELETE
        FROM blogs
        WHERE id = #{id};
    </delete>

    <select id="getAllBlog" resultType="com.example.freetrip_banked.bean.BlogBean">
        SELECT *
        FROM blogs;
    </select>

</mapper>