<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.freetrip_banked.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="BlogBean">
        <result column="id" property="id" />
        <result column="user_id" property="user_id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="praise" property="praise" />
    </resultMap>

    <parameterMap id="BlogBean" type="com.example.freetrip_banked.bean.BlogBean"/>

    <sql id="Base_Column_List">
        id, user_id, title, content, praise
    </sql>

    <delete id="deleteByUserKey" parameterType="java.lang.Integer">
        delete from  blogs where user_id=#{user_id}
    </delete>

    <select id="findByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from blogs
        where user_id=#{user_id}
    </select>

</mapper>