<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.freetrip_banked.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.example.freetrip_banked.bean.UserBean">
        INSERT INTO users (name, password)
        VALUES (#{name}, #{password});
    </insert>

    <select id="loginUser" parameterType="String" resultType="com.example.freetrip_banked.bean.UserBean">
        select *
        from users
        where name = #{name}
          and password = #{password};
    </select>

    <delete id="deleteByPrimaryKey" parameterType="String">
        delete
        from users
        where id = #{id}
    </delete>

</mapper>